.editfoto{
    background-color: white;
    text-align: center;
    border: solid, 2px, rgb(0, 0, 0);
    box-shadow: 2px 0px 5px rgb(0, 0, 0);
    min-height: 18rem;
    width: 18rem;
    object-fit: cover;
    margin-bottom: 2rem;
}

.info-box div{
    background-color: transparent;
    border: 3px solid white;
    height: 2.5rem;
    border-radius: 8px;
    color: white;
    box-shadow: 5px 5px rgb(27, 27, 27);
    text-align: left;
    padding-left: 1.8%;
    padding-top: 1%;
    align-self: center;
    overflow:hidden;
    margin-bottom: 10%;
}

.info-box p{
    color: white;
    font-style: normal;
    margin-bottom: 1%;
}

#message-container {
    opacity: 1;
    position: absolute;
    top: 5vw;
    margin-left: 2rem;
    align-self: self-start;
    background-color: rgba(61, 255, 61, 0.397);
    border-radius: 20px;
    transition: opacity 0.5s;
}

#message-container h4 {
    position: relative;
}

#icon {
    width: 15%;
}

.Editar{
    font-weight: 500;
    background-color: #1368d8;
    border: none;
    border-radius: 2px;
    height: 40px;
    width: 80%;
    box-shadow: 5px 5px rgb(27, 27, 27);
}

.Cancelar{
    font-weight: 500;
    background-color: #6d6d6d;
    border: none;
    margin-bottom: 20%;
    border-radius: 2px;
    box-shadow: 5px 5px rgb(27, 27, 27);
    height: 2.5rem;
}

@media(max-width: 1000px) {
    .editfoto{
    height: 8rem;
    }
}