.editfoto{
    background-color: white;
    text-align: center;
    border: solid, 2px, rgb(0, 0, 0);
    box-shadow: 2px 0px 5px rgb(0, 0, 0);
    height: 89%;  
}

.info-box div{
    background-color: transparent;
    border: 3px solid white;
    height: 2.5rem;
    border-radius: 8px;
    color: white;
    box-shadow: 5px 5px rgb(80, 80, 80);
    text-align: left;
    padding-left: 1.8%;
    padding-top: 1%;
    align-self: center;
    overflow:hidden;
    margin-bottom: 10%;
}

.info-box p{
    color: white;
    font-style: normal;
    margin-bottom: 1%;
}

#message-container {
    opacity: 0;
    position: absolute;
    height: 5vw;
    top: -5vw;
    width: 50%;
    left: -40%;
    background-color: rgba(61, 255, 61, 0.397);
    border-radius: 25px;
    transition: opacity 0.5s;
}

#message-container h4 {
    position: relative;
    top: -50%;
    left: 12%;
}

#icon {
    position: relative;
    top: 20%;
    left: -7vw;
    height: 60%;
    width: 60%;
}

.Editar{
    font-weight: 500;
    margin-bottom: 20%;
    background-color: #1368d8;
    border: none;
    border-radius: 2px;
    height: 40px;
    width: 80%;
    box-shadow: 5px 5px rgb(80, 80, 80);
}

@media(max-width: 1000px) {
    .editfoto{
    height: 8rem;
    }
}