.nuevo {
    font-weight: 500;
    background-color: #1368d8;
    border: none;
    border-radius: 2px;
    height: 40px;
    width: 30%;
    box-shadow: 5px 5px #505050;
    transition: transform ease 0.5s; 
    transform: translateY(0px); 
    opacity: 1;
}

.nuevo.mostrar {
    transform: translateY(-10px); 
}

#reportform {
    display: none;
    border-radius: 15px;
    height: 18%;
    background-color: #5050503d;
    transition: all ease 0.5s;
    transform: translateY(-100px);
    opacity: 0; 
}

#reportform.mostrar {
    display: block;
    transform: translateY(0);
    opacity: 1;
}

.type_btn{
    border-radius: 15px;
    height: 3rem;
}

@media(max-width: 1000px){
    #actions{
        height: 10.4rem;
    }
}