body{
    display: flex;
    height: 100%;
    width: 100%;
}

.vertical-nav{
    background-color: rgb(29, 29, 29);
    height: 100%;
    flex-direction: column;
    overflow: hidden;
}

.text1{
    color: white;
    text-align: center;
    text-decoration: none;
}

.foto{
    border: solid, 2px, rgb(0, 0, 0);
    box-shadow: 2px 0px 5px rgb(0, 0, 0);
    min-width: 40%;
}

.nombre{
    color: white;
}

.cargo{
    color: white;
    font-style: italic;
    font-weight: 100;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1rem;
    width: 81%;
    background-color: rgb(29, 29, 29);
    font-style: italic;
    font-weight: 100;
    border-radius: 20px;
    overflow: auto;
}

.content h1{
    font-style: normal;
    font-weight: 300;
    color: white;
}

.logout{
    font-weight: 500;
    background-color: #f5e235;
    border: none;
    border-radius: 2px;
    height: 5%;
    width: 90%;
    margin-top: auto;
    margin-bottom: 10%;
    box-shadow: 5px 5px rgb(80, 80, 80);
    transition: .5s;
}

.mini-logout{
    font-weight: 500;
    background-color: #f5e235;
    border: none;
    border-radius: 2px;
    height: 5%;
    width: 90%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    box-shadow: 5px 5px rgb(80, 80, 80);
    transition: .5s;
    display: none;
}

.logout:hover{
    background-color: #ffffff;
    transition: .5s;
}

.opciones{
    flex-direction: column;
    list-style: none;
    font-size: large;
    color: white;
    width: 120%;
}

#encabezado{
    margin-left: 2rem;
    color: white;
    transition: .8s;
}

#encabezado:hover{
    color:#f5e235;
    transition: .8s;
}

#encabezado:focus{
    margin-left: 4rem;
}

.mini-menu {
    margin-top: -15%;
    margin-left: 3rem;
    list-style: none;
    display: none;
    flex-direction: column;
    padding: 1%;
    z-index: 1;
    opacity: 0;
    transition: .8s;
}

.mini-menu.visible {
    margin-top: 0%;
    opacity: 1;
    transition: .8s;
}

.mini-menu ul{
    margin-right: 1rem;
    font-size: medium;
    width: 8rem;
}

.list-item{
    margin-right: 4rem;
    padding-top: 20px;
    transition: 0.8s;
}

.list-item a{
    text-decoration: none;
    color: rgb(116, 116, 116);
}

#welcome{
    position: relative;
    top: 5%;
    text-align: center;
}

.paragraph{
    color: white;
    font-style: normal;
    font-weight: 100;
}

hr{
    color: white;
    height: 2px;
    margin-top: -0.5rem;
    width: 40%;
}

.basicdata{
    position: relative;
    top: 5%;
    text-align: center;
}

#contenedor{
    position: absolute;
    top: 20%;
    left: 20%;
    width: 60%;
    height: fit-content;
}

.btn-menu{
    height: 20%;
    margin-left: 0.8rem;
    background-color: transparent;
    border: solid 4px #616161;
    border-radius: 10%;
    color: #ffffff;
    font-size: large;
}

.dropdown-menu{
    position: sticky;
    z-index: 100;
    width: 20rem;
    background-color:#303030;
}

.mini{
    display: none;
    color: #ffffff;   
}

.mini-img{
    display: none;
    height: 80%;
}

.mini-text{
    display: none;
}

.mini-occ{
    display: none;
    font-style: italic;
    font-size: small;
    font-weight: 100;
}

.mini-encabezado{
    color: rgb(180, 180, 180);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 10px;
}

.mini-li{
    color: white;
    width: 90%;
    margin-left: 1rem;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    text-align: center;
}

@media(max-width: 1000px) {
    body{
        display: flex;
        flex-direction: column;
        height: 1rem;
    }

    .vertical-nav{
        position: fixed;
        flex-direction: column;
        height: 9%;
        width: 100%;
        overflow: visible;
        justify-items: center;
    }

    #normal-menu{
        display: none;
    }

    .opciones{
        display: none;
    }

    .content{
        margin-top: 5rem;
        width: 90%;
        z-index: -2;
        height:fit-content;
    }

    .mini-logout{
        display: block;
    }

    .text1{
        height: 10%;
    }

    .foto{
        display: none;
    }

    .cargo{
        display: none;
    }

    .nombre{
        display: none;
    }

    #encabezado{
        display: none;
    }

    .logout{
        display: none;
    }

    .text1{
        margin-top: 0.5rem;
    }

    #subtitle{
        z-index: -1;
    }

    .mini{
        display: block; 
    }
    
    .mini-img{
        display: block;
    }
    
    .mini-text{
        display: block;
    }
    
    .mini-occ{
        display: block;
    }
}

@media(min-width: 1000px){
    .btn-menu{
        display: none;
    }
}